.neon-cursor-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.cursor-main {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fffbe6;
  box-shadow: 0 0 8px 2px #ff33ff, 0 0 20px 8px #7a028d44;
  border: 2px solid rgb(138, 43, 226)	;
  mix-blend-mode: lighten;
}

.cursor-trail {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(138, 43, 226)	;
  box-shadow: 0 0 16px 4px #74036d88;
  opacity: 0.7;
  mix-blend-mode: lighten;
}

.cursor-glow {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(circle, #5e027c55 0%, #ffb34700 80%);
  opacity: 0.4;
  filter: blur(4px);
  pointer-events: none;
}
